/* Keyframes for animations */
@keyframes toast-enter {
    from {
        opacity: 0;
        transform: translateY(-100%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes toast-leave {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(-100%) scale(0.9);
    }
}

/* Applying animations */
.toast-item.toast-enter {
    animation: toast-enter 0.5s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-item.toast-leave {
    animation: toast-leave 0.5s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}
